@keyframes color-change {
  0% { color: #f52f07; }
  12% { color: #1a008b; }
  25% { color: #892d02; }
  37% { color: #d2400b; }
  49% { color: #a14000; }
  62% { color: #f83232; }
  74% { color: #9c0d0d; }
  86% { color: #e6880d; }
  100% { color: #b300ffe2; }
}/*base feita com ajuda do chatgpt, cores que o titulo vai oscilar*/
/* estilizacao do titulo do site*/
h1 {padding-top: 130px;
  animation: color-change 2s infinite;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 70px;
  position: relative;
  }
/*estilizacao do sobre o jogo*/
  h2 {margin-top: 200px;
    margin-bottom: 20px;
  color: #7A6B4E;
  border-top: 2px solid #ffffff;
  padding-top: 50px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  padding-bottom: 40px;
  position: relative;
  }
/*estilizacao da instalacao*/
h3 {
  color: #7A6B4E;
  border-top: 2px solid #ffffff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  padding: 40px 0;
  position: relative;
  }
  h3 p {
    color: #7A6B4E;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    padding: 40px 0;
    position: relative;
    }
/*estilizacao do log de desenvolvimento*/
h5 {
    color: #7A6B4E;
    border-top: 2px solid #ffffff;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    padding: 40px 0;
    position: relative;
}

h6{
    color: #7A6B4E;
    border-top: 2px solid #ffffff;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    padding: 40px 0;
    position: relative;
}
/*estilizacao do desenvolvedores*/
h7 {
    color: #7A6B4E;
    border-top: 2px solid #ffffff;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-top: 50px;
    padding: 0px 0;
    position: relative;
    }
body {font-size: 30px;
  color: #7A6B4E;
    background-color:rgb(250, 193, 86);
    text-align: center;

  }

p {
  color: #7A6B4E;
}
/*Onde vai ficar o video e a ideia do jogo e sua estilizacao*/
.video {margin-top: 240px;
  justify-content: center;
}
.video figcaption {
  text-align: center;
  font-size: 30px;
}

/*estilizacao do titulo*/
.dragao {  position: absolute;
  top: 60px;
  width: 320px;
  height: 240px;
}
.dragao-esquerda {
  left: 14%;
}

.dragao-direita {
  right: 14%;
}
.titulo {
  background-size: cover;
  background-color: rgb(250, 193, 86);
  height: 100px;
  position: relative;
}
/*estilizacao das imagens*/
.imagem-par {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.imagem-par figure {
  margin: 40px;
}

.imagem-par figcaption {
  text-align: center;
  font-size: 30px;
}
/*estilizacao do download*/
.imagem-parisntal-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.imagem-parisntal-1 figure {
  margin: 40px;
}

.imagem-parisntal-1 figcaption {
  text-align: center;
  font-size: 30px;
}
.imagem-parisntal-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.imagem-parisntal-2 figure {
  margin: 40px;
}

.imagem-parisntal-2 figcaption {
  text-align: center;
  font-size: 30px;
}
.botao-download {
  background-color: #7993b0;
  color: #fff;
  border: none;
  padding: 25px 50px;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}
/*estilizacao da area de desevolvedores*/
.pessoas{
  display: flex;
  justify-content: center;
  top: 0px ; 
}

.pessoas figure {
  margin: 50px;
  font-size: larger;;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
}
th, td {
  border: 1px solid black;
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}
th {
text-align: center;
}
.imagem-parheuris-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.imagem-parheuris-1 figure {
  margin: 40px;
}

.imagem-parheuris-1 figcaption {
  text-align: center;
  font-size: 30px;}
  .imagem-parheuris-1 figure img {
    border: 4px solid black;
  }